@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Add border to the form */
fieldset {
    margin: auto;
    margin-top: 5em;
    border: 3px black solid;
    padding: 3em;    
    border-radius: 10px;
    width: 30%;
    background-color:lightgray !important;
}

/* Navbar changes */
.nav li{
    font-size: 1.25rem;
    font-weight: bold;
    background-color: white;
    border: 2px black solid;
    margin-top: 1em;
}

.nav-link {
    color: black;
}

.nav li active {
    background-color: gray !important;
}


/* background color to the site */
body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/* adds a background to the navbar */
.hero-bg {
    background: rgb(18, 18, 85);
    background-position: 5% 75%;
    background-size: 300px 70px;
    background-repeat: no-repeat;
    border: 8px black solid;
}

/* boldens create account */
.fieldsetname {
    font-weight: bold;
}

/* boldens the account creation fields */
.control-label {
    font-weight: bold;
}

/* boldens password help field */
.help-block {
    font-weight: bold;
}

/* customizes the account creation button a bit */
.btn-warning {
    margin-top: 2em;
    color: black;
    background-color: goldenrod !important;
    width: 10em;
}

/* trying to remove button hover */
.btn-warning:hover {
    color: black;
}

/* adds some margin to the top of the TAMUC logo */
.tamuclogo {
    margin-top: 15px;
    margin-left: 15px;
}

/* moves the forgot username to the left */
.forgotuser {
    font-weight: bold;
    float: left
}

/* moves the forgot passwork to the right */
.forgotpass {
    font-weight: bold;
    float: right;
}

/* moves the margin down on the login screen, overrides earlier fieldset */
.login {
    margin-top: 10em !important;
}



/* moved the shopping cart */
.shopping img {
    float: right;
}

section.welcomebanner {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "sim paragraph";
}


.para {
   grid-area: paragraph;
   padding: 0 10%;
   text-align: left;
   align-self: center;
}

.sim img {
    grid-area: sim;
}

.welcome h1 {
    text-align: center;
}

.welcome {
    margin: 2em 20em 3em;

}

.welcome p {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 4em;
    font-size: 180%;
}

.redtestbutton .btn-danger {
    height: 7em;
    width: 25%;
    font-weight: bold;
}

.bluetestbutton .btn-primary {
    height: 7em;
    width: 25%;
    font-weight: bold;
}

.redtestbutton h3 {
    font-weight: bold;
    font-size: 2.25rem;
}

.bluetestbutton h3 {
    font-weight: bold;
    font-size: 2.25rem;
}

section.testbuttons {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "redbutton bluebutton";
    margin-bottom:3rem;
    padding-bottom: 1em;
    background-color: lightgray;
}

.redtestbutton {
    grid-area: redbutton;
    padding: 2em 10%;
    text-align: center;
    align-self: center;
}

.bluetestbutton {
    grid-area: bluebutton;
    padding: 0 10%;
    text-align: center;
    align-self: center;
}

.tamucbtn h1 {
    color: goldenrod;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 15px;
}

.tamucbtn a {
    float: right;
    padding: 0 .5em;
}

.para h2 {
    font-size: 3rem;
}

section.userstory {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "leftside rightside";
    margin-bottom: 3em;
}

.leftside {
    grid-area: leftside;
    padding: 0 20%;
    text-align: center;
    align-self: center;
}

.rightside {
    grid-area: rightside;
    padding: 0 20%;
    text-align: center;
    align-self: center;
}

.redtestbutton button:hover, .bluetestbutton button:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

.margrine {
    margin: 0 3em;
}

section.analysts {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-areas:
        "klay justin alexis lasang shalu";
    margin-bottom: 3em;
}

.klay {
    grid-area: klay;
    padding: 0 10%;
    text-align: left;
    align-self: center;
}

.justin {
    grid-area: justin;
    padding: 0 10%;
    text-align: left;
    align-self: center;
}

.alexis {
    grid-area: alexis;
    padding: 0 10%;
    text-align: left;
    align-self: center;
}

.Lasang {
    grid-area: lasang;
    padding: 0 10%;
    text-align: left;
    align-self: center;
}

.AS h6 {
    margin-top: 1em;
}

.AS img {
    float:right;
    margin-right: 3em;
    width: 25%;
    border-radius: 25px;
}

.shalu {
    grid-area: shalu;
    padding: 0 10%;
    text-align: left;
    align-self: center;
}

.klay h3, p{
    text-align: center;
    margin-top: 1em;
}

.just h3, p{
    text-align: center;
    margin-top: 1em;
}

.alexis h3, p{
    text-align: center;
    margin-top: 1em;
}

.Lasang h3, p{
    text-align: center;
    margin-top: 1em;
}

.shalu h3, p{
    text-align: center;
    margin-top: 1em;
}

.footer {
    background-color: lightgray;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 20em;
}

section.Howit {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "howitworks dots";
    margin-bottom: 3em;
}

.howitworks {
    grid-area: howitworks;
    padding: 0 10%;
    text-align: center;
    align-self: center;
}

.ishi img {
    grid-area: dots;
}

.aheader h1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: .5em;
}

.howitworks h1 {
    font-size: 6rem;
}

.howitworks p {
    font-size: 2rem;
}

.questions img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

.testhead h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 300;
    margin-top: 1em;
}

.testhead h4 {
    text-align: center;
    margin-bottom: 4em;
    padding: 0 8em;
    font-size: 1.5rem;
}

.questions h3 {
    font-weight: bold;
}

.questions {
    text-align: center;
}

.questions label {
    font-size: 1.5rem;
}

input[type=submit] {
    height: 3em;
    width: 10em;
}

.results h1 {
    text-align: center;
    margin-top: 2em;
}



.results a {
      text-align: center;
      font-size: 1.5em;
}

.results h2 {
    text-align: center;
    font-size: 1.7em;
    margin-top: 2em;
}

section.results {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "resultstext testover";
    margin-bottom: 3em;
    margin-top: 4em;
}

.resultstext {
    grid-area: resultstext;
    padding: 0 10%;
    text-align: center;
    align-self: center;
}

.testover {
    grid-area: testover;
    padding: 0 10%;
    text-align: center;
    align-self: center;
}

.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

.support h2 {
    font-size: 17px;
    font-weight: bold;
    margin-left: 1em;
    margin-top: 1em;
}

.support input {
    margin-left: 2.5em;
    width: 80%;
    font-size: 13px;
    border: 2px solid rgb(18, 18, 85);
    border-radius: 4px;
    padding-left: 5px;
}

.support a {
  font-size: 13px;
  background-color: goldenrod;
  color: black;
  font-weight: bolder;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 3em;
}

.support a:hover {
    background-color: rgb(18, 18, 85);
    color: white;
}

.support textarea {
    margin-left: 2.5em;
    width: 80%;
    font-size: 13px;
    padding-left: 5px;
    border: 2px solid rgb(18, 18, 85);
    border-radius: 4px;
}

.support button {
    margin-left: 1em;
}




